
  /* Padronização de fonte */ 
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-size: 1em;
}

  /* Padronização de largura */ 
body,html{
    height: 100%;
  }

  /* Padronização de tamanho de vídeo em desktop */ 
  #video{
    width: 100%;
    height: 700px;
  }

  
  /* Estilização da navbar */ 
#navbarItems {
  display: inline-block;
  font-size: 20px;
  font-family: 'Arial';
  font-weight: 700;
}

  /* Estilização da área relativa a direitos autorais */ 

#direitos{
      text-align: center;
    }

  /* Media queries relativo a mostrar o mobile / desktop */ 
  @media screen and (max-width: 981px){
    #buttonOpen{
      display: block;
    }

    #navbarDesktop{
      display: none;
    }

    #info{
      font-size: 100%;
    }

    #quote{
      font-size: 100%;
    }

    #descWinrates{
      font-size: 100%;
    }

    #video{
    width: 100%;
    height: 100%;
  }

  }

  @media screen and (min-width: 981px){
    #buttonOpen{
      display: none;
    }

    #mySidenav{
      display: none;
    }
  }

  /* Relativo a coloração da tabela na página winrates */ 
  #otherHeroes{
    background-color: #d70206;
    color: white;
    font-weight: bold;
  }

  #mercy{
    background-color: #f05b4f;
    font-weight: bold;
  }

  #genji{
    background-color: #f4c63d;
    font-weight: bold;
  }

  #mccree{
    background-color: #d17905;
    font-weight: bold;
  }

  #lucio{
    background-color: #453d3f;
    font-weight: bold;
    color: white;
  }

  #soldier76{
    background-color: #59922b;
    font-weight: bold;
  }

  #widowmaker{
    background-color: #0544d3;
    font-weight: bold;
  }

  #pharah{
    background-color: #6b038f;
    font-weight: bold;
    color: white;
  }

  #roadhog{
    background-color: #f05b4f;
    font-weight: bold;
  }

  #hanzo{
    background-color: #dda43a;
    font-weight: bold;
  }

  #reinhardt{
    background-color: #eacf7d;
    font-weight: bold;
  }

  #dva{
    background-color: #86797d;
    font-weight: bold;
  }

  #ana{
    background-color: #b2c326;
    font-weight: bold;
  }

  #tracer{
    background-color: #6188e2;
    font-weight: bold;
  }

  #junkrat{
    background-color: #a748ca;
    font-weight: bold;
  }


  /* remove outer padding */
  .main .row{
    padding: 0px;
    margin: 0px;
  }

  .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  /* Add gap to nav and right windows.*/
  .main{
    padding: 10px 10px 0 10px;
  }

  /* .....NavBar: Icon only with coloring/layout.....*/

  /*small/medium side display*/
  @media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main{
      position: absolute;
      width: calc(100% - 40px); /*keeps 100% minus nav size*/
      margin-left: 40px;
      float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    .main{
      margin-left: 200px;
    }

  }

  /* .....NavBar: Fully showing nav bar..... */

  @media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    .main{
      width: calc(100% - 200px); /*keeps 100% minus nav size*/
      margin-left: 200px;
    }
  }

  section{
    padding-left: 15px;
  }

  * {
  box-sizing: border-box;
}

@media screen and (min-height: 450px)  {
  span{
    display: none;
  }
  }

  #quote{
    text-align: center;
    font-style: italic;
  }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#tableHeroes{
  text-align: center;
  flex-grow: 1;
  padding: 0;
  display: flex;
  flex-direction: row;

}

.tableHeroesImages{
   width: 30px;
   height: 30px;
   margin-bottom: 10px;
}

thead{
  display:table-header-group;
}

th{
  font-weight: bold;
  text-align: center;
}

.filters {
  display: -webkit-flex;
  display: flex;
  padding: 0 10px;
  align-content: center;
}

@media only screen and (max-width: 550px) {
  .filters {
    display: block;

  }

  .filters select {
    width: 100%;
    margin: 0 0 5px;
  }
}page-break-inside:avoid;

/* Styles go here */

footer {
  background-color: #222;
  color: #aaa;
  padding: 20px;
}

h2{
  text-align: center;
}

h6{
    text-align: center;
   font-style: italic;
}
